@page
@model Kissala.Pages.CatsModel
@{
    ViewData["Title"] = "Kissat";
}

<div class="text-center">
    <h1 class="display-4">Kiffat :)</h1>
</div>
<div>
    <div>
        <p>
            <a title="SC Zhamanen Harlequin, DVM" href="https://web.archive.org/web/20130401081104/http://humming.nettisivu.org/naaraat/sc-fizhamanen-harlequin-dvm/">
                <img class="alignleft size-medium wp-image-16" title="SC FI*Zhamanen Harlequin, DVM" src="~/pictures/20231021_222917.jpg" alt="Harppu" width="300" height="259">
            </a>
        </p>
        <p>
            SBI n 21
            <br>
            s. 28.7.2008
        </p>
        <p>
            isä: EC FI*JoJon El Rayo Rumba (SBI n 21)
            <br>
            emo: IC FI*Zhamanen Ferrarina N.F.S. (SBI h)
        </p>
        <p>
            Näyttelymenestys:
            <span style="color: #339966;">20xBIV</span>,
            <span style="color: #3366ff;">12xNOM</span> &amp;
            <span style="color: #ff0000;">3xBIS</span>
        </p>
    </div>

    <hr>

    <div>
        <p>
            <a title="SC Recknagel Tairapänks, DVM" href="https://web.archive.org/web/20130401081104/http://humming.nettisivu.org/naaraat/sc-recknagel-tairapanks-dvm/">
                <img class="alignleft wp-image-17" title="SC FI*Recknagel Tairapänks" src="~/pictures/20231017_165129.jpg" alt="Halka" width="273" height="373">
            </a>
        </p>
        <p>
            SBI a
            <br>
            s. 21.6.2009
        </p>
        <p>
            isä: IC FI*Zhamanen Fangio, JW (SBI n)
            <br>
            emo: FI*Recknagel Fridakahlo (SBI b)
        </p>
        <p>
            Näyttelymenestys:
            <span style="color: #339966;">14xBIV</span>,
            <span style="color: #3366ff;">19xNOM</span> &amp;
            <span style="color: #ff0000;">2xBIS</span>
        </p>
    </div>

    <hr>

    <div>
        <p>PengPeng :)</p>
        <img src="~/pictures/20230530_143314.jpg" height="300" />
    </div>

    <hr>

    <div>
        <p>Hillevi :)</p>
        <img src="~/pictures/20231017_234651.jpg" height="300" />
    </div>
</div>

