@page
@model Kissala.Pages.ContactModel
@{
    ViewData["Title"] = "Contact";
}

<div class="text-center">
    <h1 class="display-4">Contact</h1>
</div>

<div>
    <p>Yhteystiedot:</p>
    <div>
        <p>Information 123</p>
    </div>
</div>
