@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Tervetuloa!</h1>
    <span style="font-size: 10pt">*Sivut päivitetty 24.11.2019</span>
    <p>Nennin nätyt kiffat :)</p>
    <strong><p>Ei pentusuunnitelmia tällä hetkellä.</p></strong>
    <span style="font-size: 12pt">Muista kurkata kissalan <a href="https://www.facebook.com/hummingcattery/">facebook</></a>-sivu!</span>
    <br />
    <p style="text-align: center">SP SC FI*ZHamanen Harlequin, DVM DSM ”Harppu” Värin paras (BIV) kovassa seurassa kissojen maailmannäyttelyssä 2018!</p>
</div>
